@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.navbar  {
    font-size: 13px;
    display: flex;
    width: 80%;
    margin-left: 8rem;
    /* background-color: yellow; */
}

.nav-items {
    margin: 3rem;
}

.prof-img {
    width: 410px;
    margin-left: 5rem;
}

.box {
    position: absolute;
    left: 51.7rem;
    z-index: -1;
    width: 20%;
    background-color: #a3cb37;
    height: 30rem;
}

.intro-cont {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.intro-text {
    font-size: 13px;
    margin-top: 3rem;
    width: 32%;
}

.intro-heading {
    font-size: 40px;
    font-weight: 600;
}

.connect-btn {
    letter-spacing: 1px;
    text-align: center;
    padding: 1rem;
    background-color: #a3cb37;
    width: 30%;
    color: white;
    font-weight: 600;
    margin-top: 2rem;
}

.nav-items:hover, .connect-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 300ms;
}

.education {
    margin-left: 7rem;
    margin-top: 5rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.pattern-bg {
    position: absolute;
    z-index: -1;
    left: 0;
}

.bg-pic {
    height: 235px;
    width: 315px;
}

.ed-text {
    font-size: 80px;
    font-weight: 550;
    width: 20%;
    line-height: 6rem;
}

.ed-details {
    margin-top: 1rem;
    width: 53%;
}

.duration {
    font-size: 28px;
    margin-bottom: 0.5rem;
    color: #a3cb37;
    font-weight: 600;
}

.institute {
    margin-bottom: 0.3rem;
    font-weight: 600;
}

.ed-para{ 
    font-size: 13px;
    margin-bottom: 0.3rem;
}